# .gitignore
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Jupyter Notebooks
.ipynb_checkpoints

# # Data
# /data/raw/
# /data/processed/
# /data/external/

# Models
/models/

# Streamlit
.streamlit/

# MLflow
mlruns/

# Docker
*.log

# VS Code
.vscode/
